#cpu-screen-container {
    layout: grid;
    grid-size: 2;
    background: $panel;
    border: lightblue;
    border-title-color: $text;
    border-title-align: center;
}

#cpu-screen-container:light {
    border: blue 90%;
}

#cpu-screen-static {
    content-align: center middle;
    padding: 5 2;
}
