#gpu-container {
    background: $panel;
    border: round pink;
    border-title-color: $text;
    border-title-align: center;
    border-subtitle-color: $text;
    border-subtitle-align: center;
}

#gpu-container:light {
    border: round deeppink;
    background: $boost-darken-1;
}
