#guide-container {
    layout: grid;
    grid-size: 2;
    grid-columns: 40% 60%;
    background: $panel;
}

#guide-container:light {
    background: $boost-darken-1;
}

#description {
    content-align: center middle;
    padding: 0 2;
}

#monitoring-desc {
    padding: 0 2;
    content-align: center middle;
}
