#guide-container {
    layout: grid;
    grid-size: 2;
    grid-columns: 40% 60%;
    background: $panel;
}

#description {
    background: $panel;
    content-align: center middle;
    padding: 0 2;
}

#monitoring-desc {
    padding: 0 2;
    background: $panel;
    content-align: center middle;
}
