#process-screen-container {
    layout: grid;
    grid-size: 1;
    grid-rows: 7% 93%;
}

#process-container {
    background: $panel;
    border: $secondary;
    border-title-color: $text;
    border-title-align: center;
    border-subtitle-color: $text;
    border-subtitle-align: center;
}

#process-container:light {
    border: darkorange;
}

#process-options-container {
    layout: grid;
    grid-size: 10;
    background: $panel;
}
